/* Content-Header */
.content-header {
    display: flex;
    justify-content: space-between;
}

.text-header {
    text-align: center;
    width: 33%;
    margin-top: 30px;
}

.logo {
    width: 33%;
    text-align: center;
}

.search-box {
    margin-top: 80px;
    width: 33%;
}

/* Navbar */

.navbar {
    margin-left: -15px;
    margin-right: -15px;
}

.navbar ul {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Section1 */

.section-1{
    margin-bottom: 20px;
}

.section-1 img {
    width: 100%;
    height: 400px;
}

.blue-text h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
    color: #0EC0C3;
}

.blue-text p {
    font-size: 20px;
    text-align: justify;
}

.form button {
    background-color: #F1791B;
    color: white;
    padding: 10px 15px;
}

.form input {
    width: 90%;
}

.specific-form {
    margin-left: 30px;
}

/* section-2 */

.section-2 img {
    width: 100%;
    height: 300px;
}

.section-2 {
    margin-bottom: 20px;
}

.section-2 h2 {
    text-align: center;
    color: #0EC0C3;
    margin-bottom: 20px;
}

/* section-3 */

.section-3 img {
    width: 100%;
    height: 275px;
}

.text-content h2 {
    color: rgb(3, 193, 69);
}

.text-content p {
    text-align: justify;
    font-size: 20px;
}

.price h4 {
    color: #F1791B;
}

.price {
    margin-top: 50px;
    text-align: center;
}

.price p {
    color: white;
    background-color: #2ECCEB;
    width: 55%;
    text-align: center;
    padding: 10px 15px;
    margin: 0 auto;
}

/* Footer */

.footer {
    background: #0FC1C5;
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
    margin-bottom: -15px;
    margin-top: 15px;
    padding-top: 20px;
    padding-bottom: 15px;
    color: white;
}

/* media-fix */
@media screen and (max-width: 768px) {
    .content-header {
        display: block;
        text-align: center;
    }

    .content-header div {
        width: 100%;
        margin: 0;
        padding-bottom: 10px;
    }

    .blue-text h2{
        margin-top: 15px;
    }

    .section-1 img{
        height: 300px;
    }

    .form input{
        width: 100%;
    }

    .section-1 img {
        margin-bottom: 10px;
    }
    .section-2{
        padding: 0;
        margin-left: -25px;
        margin-right: -25px;
    }

    .section-2 img {
        margin-bottom: 10px;
    }

    .price p{
        margin-bottom: 10px;
        width: 80%;
    }

}